<div class="body">
    <div class="login">
        <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>

        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="doSignup()">
            <img class="img" src="./assets/img/travel.png" alt="login image">
            <h1>Aterrizar</h1>
            <h3>Registro</h3>
            <mat-form-field class="login-element-width" appearance="fill">
             <mat-label>Usuario</mat-label>
             <input matInput formControlName="user" autocomplete="off">
           </mat-form-field>
           <mat-form-field class="login-element-width" appearance="fill">
             <mat-label>Contraseña</mat-label>
             <input matInput formControlName="password" type="password" autocomplete="off">
           </mat-form-field>
           <br>
           <button type="submit" class="login-element-width button" [disabled]="form.invalid" mat-raised-button color="primary">Registrarme</button>
        </form>
        <button routerLink="/login" class="button" mat-button color="primary">volver a inicio de sesión</button>
       
    </div>
   
</div>


