<mat-toolbar color="primary">
  <span>Aterrizar</span>

  <span class="example-spacer"></span>

  <button mat-button>
    <span>Ventas</span>
  </button>

  <button mat-button [matMenuTriggerFor]="destinos">
    <span>Destinos </span>
    <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #destinos="matMenu">
    <button mat-menu-item routerLink="">
      <mat-icon>star</mat-icon>
      <span>TOP</span>
    </button>
    <button mat-menu-item routerLink="">
      <mat-icon>local_offer</mat-icon>
      <span>Promo</span>
    </button>
    <button mat-menu-item routerLink="">
      <mat-icon>paid</mat-icon>
      <span>Precios</span>
    </button>
    <button mat-menu-item routerLink="">
      <mat-icon>groups</mat-icon>
      <span>Personas</span>
    </button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="paquetes">
    <span>Paquetes </span>
    <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #paquetes="matMenu">
    <button mat-menu-item routerLink="/dashboard/venta-paquete">
      <mat-icon>attach_money</mat-icon>
      <span>Vender</span>
    </button>
    <button mat-menu-item routerLink="/dashboard/lista-paquete">
      <mat-icon>list</mat-icon>
      <span>Listar</span>
    </button>
  </mat-menu>

  <span class="example-spacer"></span>

  <button mat-icon-button class="primary" routerLink="/login">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
