<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="dashboard-container">
  <div class="row">
    <div class="dashboard-table-1">
      <h4>Lista paquetes vendidos</h4>
      <app-lista-paquete></app-lista-paquete>
    </div>
  </div>

  <div class="row">
    <div class="dashboard-table-2">
      <h4>Destinos TOP</h4>
      <app-top-destino></app-top-destino>
    </div>

    <div class="dashboard-table-2">
      <h4>Personas por destino</h4>
      <app-personas-destino></app-personas-destino>
    </div>
    <div class="dashboard-table-2">
      <h4>Destinos Promo</h4>

      <app-promo-destino></app-promo-destino>
    </div>
  </div>
</div>
