.dashboard-container{
    padding: 2%;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 0 50px 0;
}
.dashboard-table-package-list{
    width: 68%;
}

.dashboard-table-package-count{
    width: 28%;
}

.dashboard-table-2{
    align-self: auto;
    margin: 0 auto;
    width: 33%;
}