.dashboardChild {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #f5f5f5;

    align-items: center;
}

.form {
    width: 100%;
    max-width: 330px;
    text-align: center;
    padding: 2%;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.img {
    width: 50%;
}

.login-element-width {
    width: 80%;
}

.button {
    height: 50px;
    margin: 8px 8px 8px 0;
}

.spinner {
    margin: 0 auto;
}